body {
    font-family: 'Orbitron', sans-serif;
    background-image: url('HyperSpace.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    overflow: hidden;
}


h1 {
    display: flex; 
    justify-content: center;

    color: white;
    box-shadow: 0px 5px 20px rgb(255, 0, 180);

    position: relative;
    bottom: 10px;

    min-height: 45px;
    max-height: 45px;
    min-width: 210px;
    max-width: 210px;

    background-color: rgb(0, 0, 53);

    border: 2px solid rgb(0, 170, 255);
    border-radius: 20px;
}

h2 {
    display: none;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 53);

    font-size: 35px;

    position: relative;
    top: 90px;

    margin-left: 170px;
    margin-right: 170px;

    min-height: 70px;
    max-height: 70px;

    text-align: center;
    vertical-align: middle;
    line-height: 65px;

    border: 2px solid rgb(0, 170, 255);
    border-radius: 20px;

    opacity: 85%;

    box-shadow: 0px 5px 20px rgb(255, 0, 180);
}

#gameBox {
    background-color: rgb(0, 0, 35);
    min-height: 610px;
    max-height: 610px;
    min-width: 650px;
    max-width: 650px;
    
    box-shadow: 0px 10px 20px rgb(255, 0, 180);

    position: relative;
    bottom: 15px;
    margin: 25px;
    border-radius: 25px;
    opacity: 93%;
    border: 2px solid rgb(0, 170, 255);
}

.rows {
    margin: 0 auto;
}

.buttons {
    background-color: rgb(0, 0, 105);
    font-family: 'Orbitron', sans-serif;

    min-height: 63px;
    max-height: 63px;
    min-width: 63px;
    max-width: 63px;
    border-radius: 10px;
    margin: 1px;

    color: black;
    box-shadow: 1px 2px 1px black;    

    position: relative;
    left: 35px;
    top: 10px;
    transition: background .5s linear, color .15s linear;
}

.buttons:hover {
    box-shadow: 0px 0px 5px rgb(255, 0, 255);

    color: rgb(115, 75, 165);
}

#movesBox {
    display: block;

    color: white;
    background-color: rgb(0, 0, 35);
    overflow-wrap: break-word;

    min-height: 210px;
    max-height: 210px;
    min-width: 220px;
    max-width: 220px;
    
    box-shadow: 0px 3px 20px rgb(255, 0, 180);

    position: relative;
    left: 475px;
    bottom: 650px;

    margin: 25px;
    border-radius: 25px;
    opacity: 95%;
    border: 2px solid rgb(0, 170, 255);
}

#scoreBox {
    display: block;

    color: white;
    background-color: rgb(0, 0, 35);

    min-height: 90px;
    max-height: 90px;
    min-width: 220px;
    max-width: 220px;
    
    box-shadow: 0px 10px 20px rgb(255, 0, 180);

    position: relative;
    left: 475px;
    bottom: 295px;

    margin: 25px;
    border-radius: 25px;
    opacity: 95%;
    border: 2px solid rgb(0, 170, 255);
}

#reset {
    display: none;
    position: relative;
    top: 130px;
    color: white;

    font-family: 'Orbitron', sans-serif;
    font-size: 20px;

    min-height: 60px;
    max-height: 60px;
    min-width: 200px;
    max-width: 200px;

    background-color: rgb(0, 0, 53);

    border: 2px solid rgb(0, 170, 255);
    border-radius: 20px;

    opacity: 85%;
}

#reset:hover {
    box-shadow: 0px 5px 20px rgb(255, 0, 180);
}